@font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
}
@font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
}
.sib-form{
    padding: 0px!important;
}
div#sib-container{
    border: none !important;
}
#sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #c0ccda;
}
#sib-container input::placeholder {
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #c0ccda;
}
#sib-container a {
    text-decoration: underline;
    color: black;
}
#sib-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sib-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sib-input {
    flex: 1 1 100%;
    margin-bottom: 10px;
}
.sib-form-block__button {
    flex: 0 0 auto;
    margin-top: 0 !important;
}
.sib-optin {
    flex: 1 1 100%;
    order: 2;
    margin-top: 10px;
    text-align: left;
}
.sib-form-block{
    padding: 0px!important;
}
div#sib-container{
    padding: 0px!important;
}
.sib-form .entry__field {
    margin: 0rem!important;
    padding: .25rem;
}
.email{
    width: 300px;
    margin-right: 10px;
}
.sib-form .input_replaced:checked+.checkbox_tick_positive{
    background: #493AB8 !important;
    border-color: #493AB8 !important;
}
@media (max-width: 1200px) {
    .sib-input {
        flex: 1 1 auto;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .sib-form-block__button {
        order: 2;
    }
    .sib-optin {
        order: 3;
    }
    .email{
        width: 300px;
        order: 1;
    }
    .submit-btn{
        order: 3;
    }
    .terms{
        order: 2;
    }
    #sib-form{
        flex-direction: column;
    }
}